/* VARIABLES */ 

:root {
  --colorPrimary: #071D51;     // var(--colorPrimary);
  --colorSecondary : #EB7950;  // var(--colorSecondary);
  --colorLight : #f2f4f8;      // var(--colorLight);
}

/* GENERAL */ 

body {
    font-family: "Montserrat", sans-serif;
    color: var(--colorPrimary);
    background-color: var(--colorLight);
    margin:20px;
}

main {
  margin: auto;
}

section {
  margin-bottom: 10vh;
  margin-top: 10vh;
}

h3 {
    color: var(--colorSecondary);
}


/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container-inscription {
  background-color: var(--colorPrimary);
}

/* CARD */
.card {
  align-items: center;
  align-content: center;
  max-width: 60vh;
  min-width: 60vh;
  margin: auto;
}

.card-carte {
  background-color: white;
  padding: 5vh;
  border-radius: 10px;
}

.card-inscription {
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.card-intro {
  max-width: 60vh;
}


/* IMAGES */

.img-groupe-accueil {
  width: 100%;
}


/* AUTRE */
.langues {
  display: flex;
}


/* NAVIGATION & LIENS, LISTES */ 
a {
    color: var(--colorSecondary);
}

a:visited {
    color: var(--colorSecondary);
}

ul {
    list-style: none;
    padding: 0;
}

.nav-haut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 50px 0px 50px;
  border-radius: 10px;
  box-shadow: rgba(51, 47, 66, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
}

#navigation-p {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation-p li a {
  color:  var(--colorPrimary);
  font-weight: 500;
  line-height: 5em ;
  text-align: center ;
  text-decoration: none ;
  padding: 1em 0em ;
  margin-left: 2em;
}

#navigation-p li a:hover {
    color: var(--colorSecondary);
}

#navigation-p li {
  display: inline;
}

.langues li {
  align-content: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;;
  background-color: var(--colorPrimary);
  color: var(--colorLight);
  height: 100px;
  width: 100px;;
}



/* FORMULAIRE */ 

input {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border-width: 0px;
  border-color: #727e9b;
  width: 200px;
  height: 30px;
  box-shadow: rgba(4, 7, 44, 0.1) 0px 8px 5px -5px, rgba(4, 7, 44, 0.1) 0px 8px 10px -8px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
}

textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border-width: 0px;
  width: 200px;
  height: 100px;
  box-shadow: rgba(4, 7, 44, 0.1) 0px 8px 5px -5px, rgba(4, 7, 44, 0.1) 0px 8px 10px -8px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

/* RESPONSIVE */ 

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .langues {
    align-items: center;
  }
}