body {
    font-family: "Montserrat", sans-serif;
    color: #071D51;
    background-color: #F4F7FB;
    margin: 10vh;
}

/* NAVIGATION & LIENS, LISTES */ 

a {
    color: #EB7950;
}

a:visited {
    color: #EB7950;
}

ul {
    list-style: none;
    padding: 0;
}

#navigationP {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigationP li a {
  color:  #071D51;;
  font-weight: 500;
  line-height: 5em ;
  text-align: center ;
  text-decoration: none ;
  padding: 1em 0em ;
  margin-left: 2em;
}

#navigationP li a:hover {
    color: #EB7950;
}

#navigationP li {
  display: inline;
}

.langues li {
  display: inline;
}

/* TITRES */ 

h3 {
    color: #EB7950;
}

/* FORMULAIRE */ 

input {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border-width: 0px;
  border-color: #727e9b;
  width: 200px;
  height: 30px;
  box-shadow: rgba(4, 7, 44, 0.1) 0px 8px 5px -5px, rgba(4, 7, 44, 0.1) 0px 8px 10px -8px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
}

textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border-width: 0px;
  width: 200px;
  height: 100px;
  box-shadow: rgba(4, 7, 44, 0.1) 0px 8px 5px -5px, rgba(4, 7, 44, 0.1) 0px 8px 10px -8px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
}